{% extends "layout.html" %}
{% block content %}

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
<link rel="stylesheet" href="../static/css/style.css">

<div class="features">
    <h1>What Gavel offers</h1>
    <div class="feature-card">
        <img src="../static/images/feature-page-1.jpg" alt="cargo image">
        <div>
            <i class="fa-solid fa-trophy"></i>

            <h3>Streamlined Auction Management with Automated Winner Assignment</h3>
            <p>Gavel API includes a daily task that automatically assigns auction winners, ensuring fairness and
                efficiency.
                The task checks for auctions that have reached their due date and automatically assigns a winner
                by selecting the highest bid.</p>
        </div>
    </div>
    <div class="feature-card">
        <div>
            <i class="fa-solid fa-sack-xmark"></i>
            <h3>Priority Handling of Perishable Goods</h3>
            <p>Our system prioritizes perishable goods during searches, ensuring that items closest to their expiration
                date are processed first. This feature helps prevent spoilage and ensures timely processing.</p>
        </div>
        <img src="../static/images/feature-page-1.jpg" alt="cargo image">
    </div>
</div>

{% endblock %}