{% extends "layout.html" %}
{% block content %}
<div class="home">

    <div class="hero">
        <div class="hero-left">
            <h1>The best way to manage detained goods and conduct auctions.</h1>
            <p>Gavel API is a free, open-source API designed to simplify the management of detained goods and
                auctions in Tunisian ports.</p>
            <div class="buttons">
                <a class="primary-btn">Register to use Gavel</a>
                <a class="secondary-btn" href="/swagger-ui">Read the Docs</a>
            </div>
        </div>
        <div class="hero-right">
            <h3>gavel/goods/&lt;int:good_id&gt;</h3>
            <pre class="code-snippet">
                <code class="language-json">
{
    "category": "Electronics",
    "container_id": "12345",
    "description": "This is a sample good description.",
    "expiry_date": "2025-01-01", 
    "id": 4,
    "name": "Detained good name", 
    "perishable": true,
    "reason_for_detention": "Sample reason for detention",
    "status": "on_sale",
    "storehouse_id": null
}                
                </code>
            </pre>
        </div>
    </div>

    <div class="learn-more">
        <h2>Efficient management of detained goods and auctions</h2>
        <p>
            Gavel API provides a secure platform for managing detained goods and conducting
            auctions. Designed for customs officers and buyers, the API ensures efficient handling of goods, bids, and
            user roles.
        </p>
        <ul class="features">
            <li>
                <i class="fas fa-boxes-stacked"></i> <br />
                <b> Goods management</b> <br />
                <p class="feature-notes">
                    Add, update, and delete detained goods with detailed information, including perishable status,
                    expiry dates, and financial details.
                </p>
            </li>
            <li>
                <i class="fas fa-gavel"></i> <br />
                <b> Secure auctions</b> <br />
                <p class="feature-notes">
                    Place bids on goods, view bid history, and manage your bids with role-based access control.
                </p>
            </li>
            <li>
                <i class="fas fa-user-shield"></i> <br />
                <b> User authentication</b> <br />
                <p class="feature-notes">
                    Secure user signup, login, and role-based access to ensure only authorized users can perform
                    specific actions.
                </p>
            </li>
            <li>
                <i class="fas fa-bell"></i> <br />
                <b> Real-Time Updates</b> <br />
                <p class="feature-notes">
                    Stay informed with real-time updates on goods status, bid values, and auction outcomes.
                </p>
            </li>
        </ul>

        <div style="text-align: center;">
            <a type="button" class="primary-btn" href="/features">See Features</a>
        </div>
    </div>

    <div class="features-section">
        <div class="feature-card">
            <img src="../static/images/features-first-img.avif" alt="rades port">
            <div class="text">
                <div>
                    <h3>Free API Access</h3>
                    <p>No Cost, No Barriers: Our API is completely free to use, accessible for developers,
                        businesses, and individuals alike.</p>
                </div>
                <div>
                    <h3>User-Friendly Integration</h3>
                    <p>Simple JSON API: Our API is designed with simplicity in mind, making it easy to integrate into
                        your apps.</p>
                </div>
                <div>
                    <h3>Secure and Reliable</h3>
                    <p>Role-Based Access Control to ensure only authorized users can perform
                        specific actions. Token-Based Authentication with JWT for
                        safe and encrypted communication</p>
                </div>
            </div>
        </div>
        <div class="feature-card">
            <div class="text">
                <div>
                    <h3>Developer-Friendly</h3>
                    <p>OpenAPI Support: Explore and test endpoints using our built-in Swagger UI. Community Support:
                        Join a
                        growing community of developers and get help when you need it.</p>
                </div>
                <div>
                    <h3>Sustainability Focus</h3>
                    <p>Efficient Resource Management: Help reduce waste by managing perishable goods and ensuring timely
                        auctions. Transparent Processes: Promote sustainability by providing clear and accessible data
                        on
                        detained goods.</p>
                </div>
                <div>
                    <h3>Continuous Improvement</h3>
                    <p>Regular Updates: We continuously improve our API based on user feedback and industry trends.
                        Future-Proof: Stay ahead with new features and enhancements designed to meet evolving needs.</p>
                </div>
            </div>
            <img src="../static/images/features-second-img.jpg" alt="rades port">
        </div>
    </div>
</div>
{% endblock %}