{% extends "layout.html" %}

{% block content %}
<div class="text-center">
<h2>Sign in</h2>
    {% if current_user.is_authenticated %}
        You are already logged in.
    {% else %}
        {{ msg }}<br>
<form action="/signin" method="POST" id="signin-form" style="margin: 0 30vw;">
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Email Address</span>
        <input type="text" class="form-control" name="email" required placeholder="flen@example.com" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Password</span>
        <input type="password" class="form-control" name="password" required aria-label="Username" aria-describedby="basic-addon1">
    </div> 
    <br>
    <button type="submit" class="btn btn-light" value="Submit">Submit</button><br><br>

    <hr>
    <span class="mt-2 text-body-secondary">Don't have an account?</span>
    <br><br>
    <a href="/signup" class="btn btn-outline-light">Sign up</a>
</form>
</div>
{% endif %}
{% endblock %}