{% extends "layout.html" %}

{% block content %}
<div class="text-center">
    <h2>Sign up</h2>
    {% if current_user.is_authenticated %}
        You are already logged in.
    {% else %}
        {{ msg }}<br>

<form action="/signup" method="POST" id="signup-form" style="margin: 0 30vw;">
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Email Address</span>
        <input type="text" class="form-control" name="email" required placeholder="flen@example.com" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Password</span>
        <input type="password" class="form-control" name="password" required aria-label="Username" aria-describedby="basic-addon1">
    </div>    
    <br><br>
    <input type="radio" name="options" id="option1" value=1 class="form-check-input" required> Customs officer </input>
    <input type="radio" name="options" id="option2" value=2 class="form-check-input"> Buyer </input>
    <input type="radio" name="options" id="option3" value=3 class="form-check-input"> Owner </input>
    <br>
    <br>
    <button type="submit" class="btn btn-light">Submit</button><br><br>

    <hr>
    <span class="mt-2 text-body-secondary">Already have an account?</span><br><br>
    <a href="/signin" class="btn btn-outline-light">Sign in</a>
</form>
</div>
{% endif %}
{% endblock %}